<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!-- Консоль -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss}){faint} %clr(%5p) %clr([%thread]){faint} %clr(%logger{36}){cyan} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Файл security событий — JSON формат для ELK -->
    <appender name="SECURITY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/security-events.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/security-events.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSS}","level":"%-5level","message":"%msg"}%n</pattern>
        </encoder>
    </appender>

    <!-- Все [SECURITY] и [TELEGRAM] логи идут в файл -->
    <logger name="org.flatizy.flatizy.security" level="INFO" additivity="true">
        <appender-ref ref="SECURITY_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>